<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark py-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">CroAdria</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/">Početna</a>
          <a class="nav-link" href="/beaches">Plaže</a>
          <a class="nav-link" href="/beaches/new">Dodaj plažu</a>
        </div>
      </div>
      <div class="navbar-nav">
        <% if(!currentUser){ %>
    
        <a class="nav-link" href="/login">Prijavite se</a>
        <a class="nav-link" href="/register">Registrirajte se</a>
        <% }  else {%> 
          <a class="nav-link" href="/logout">Odjavite se</a>
        <% }  %> 
      </div>
    </div>
  </nav>